/* It may seem redundant to add .nav to all the navs, but it seems harmless and allows for a simple rule */
.nav {
  border-color: darkgray;
  border-style: solid;
  border-width: thin;
  margin: thin;

  .active {
    font-weight: bold;
  }
}

.navbar-brand {
  background-color: black;
  color: white !important; // has to override some other rule
  padding: 1rem;
}

.accordion {
  .btn-link::before {
    content:  url(http://koalateasoftware.com/koalateasoftware.com/_framework/ass/open-iconic/collapse-down.svg);
    position: relative;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .btn-link[aria-expanded="true"]::before {
    content: url(http://koalateasoftware.com/koalateasoftware.com/_framework/ass/open-iconic/collapse-up.svg);
  }
}

/* for tabbed navs */
.nav-tabs {
  border-bottom: 1px solid;

  .nav-link {
    background-color: lightgray;
    border-color: lightgray;
    font-weight: lighter;
  }

  .nav-link.active {
    font-weight: bolder;
    border-color: lightgray lightgray #fff;
  }
}

.tab-content {
  border-style: none solid;
  border-width: thin;
  border-color: lightgrey;
}
