RewriteEngine On

RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^info.*$ - [NC,L]
#RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
#RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d
#RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !\.(png|gif|jpg|jpeg|js|css|mp3|wav|txt|map|ico|pdf|html|svg)$
RewriteRule . /index.php [L]
