RewriteEngine on

# Swap any non http to go over to https
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

## if it is a blog, just go there (and think no more about it)
#RewriteRule ^blog.*$ - [NC,L]

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
# don't redirect if the request is for an image, or script these will all need to go where they are told
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# the above two do not seem to do exactly what is required, but also don't seem to be a problem.
# .txt is for the likes of robot.txt
# .map for the css maps and the like
RewriteCond %{REQUEST_URI} !\.(png|gif|jpg|jpeg|js|css|mp3|wav|txt|map|ico|pdf)$ [NC]
# make everything else go to the index file and as https, too
RewriteRule ^(.*)$ index.php?%{QUERY_STRING}  [NC]

# initial quick fix for caching different resources
## One year for image files - once in place, they are very unlikely to change
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>
## One month for css and js - these are pretty stable, now
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>
