.theme-container.homepage {
  body {
    text-align: center
  }

  table {
    text-align: center
  }

  tr, th, td {
    border: none
  }

  .feature {
    //flex-basis: 50%;
    //max-width: 50%;
  }

  .hero img {
    border-radius: 5px !important;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
}

.theme-container.about {
  blockquote {
    color: black
    background-color: lightgrey
    font-weight: bolder
    font-size: large
  }
}
