.theme-container.homepage {
  body {
    text-align: center
  }

  table {
    text-align: center
  }

  tr, th, td {
    border: none
  }

  .feature {
    //flex-basis: 50%;
    //max-width: 50%;
  }
}

.theme-container.about {
  blockquote {
    color: black
    background-color: lightgrey
    font-weight: bolder
    font-size: large
  }

}
