$tabBackgroundColor: #f8f9fa;
$tabBorderColor: #dee2e6; // this is what Bootstrap gives the tabs, want to add it to the panes

body {
  background-color: gainsboro !important;
}

/* It may seem redundant to add .nav to all the navs, but it seems harmless and allows for a simple rule */
.nav {
  border-color: darkgray;
  border-style: solid;
  border-width: thin;
  margin: 1px;

  .active {
    font-weight: bold;
  }
}

.navbar-brand {
  background-color: black;
  color: white !important; // has to override some other rule
  padding: 1rem;
}

.accordion {
  .btn-link::before {
    content: url(http://koalateasoftware.com/koalateasoftware.com/_framework/ass/open-iconic/collapse-down.svg);
    position: relative;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .btn-link[aria-expanded="true"]::before {
    content: url(http://koalateasoftware.com/koalateasoftware.com/_framework/ass/open-iconic/collapse-up.svg);
  }
}

/* for tabbed navs */
.tab-content {
  margin: 0;
  padding: 0.5rem;
  background-color: $tabBackgroundColor;
  border-style: solid;
  border-width: 1px;
  border-color: $tabBorderColor;
  border-top-color: $tabBackgroundColor !important;
  border-radius: 0.25rem;
}

.nav-tabs {
  border: none;

  .nav-link {
    background-color: lightgray;
  }

  .nav-link.active {
    font-weight: bolder;
    border-bottom-color: $tabBackgroundColor !important; // override the Bootstrap stuff
    background-color: $tabBackgroundColor !important;
  }
}
